/* theme color */
$--color-primary: teal;
$bg-primary: #0F2B5B;
$text-primary: #0F2B5B;
$bg-secondary: #F77F00;
$text-secondary: #F77F00;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";


body {
    margin: 0 auto;
    height: 100%;
}

#app {
    .el-container.views {
        .el-header {
            width: 100%;
            padding: 0;
            position: fixed;
            top: 0;
            z-index: 25;
            .header-top-fixed {
                position: relative;
                padding: 0 3rem;
                background-color: #ffffff;
                .menu-left {
                    color: $bg-primary;
                    font-size: 1.7rem;
                }
                .logo-nav {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    height: 100%;
                    a {
                        display: inline-block;
                        margin-left: 15px;
                        img {
                            width: 105px;
                        }
                    }
                }
                .actions-nav-menu {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    .menu-nav {
                        padding: 0 5px;
                        .el-menu--horizontal {
                            border: none;
                            .el-menu-item {
                                height: 80px;
                                line-height: 80px;
                            }
                            .el-menu-item:not(.is-disabled) {
                                &:hover {
                                    background-color: #FCD116;
                                }
                            }
                            .el-menu-item:not(.is-disabled) {
                                &:focus {
                                    background-color: #FCD116;
                                }
                            }
                            .el-submenu {
                                &:hover {
                                    background-color: #FCD116;
                                }
                                &:focus {
                                    background-color: #FCD116;
                                }
                                .el-submenu__title {
                                    height: 80px;
                                    line-height: 80px;
                                    &:hover {
                                        background-color: #FCD116;
                                    }
                                }
                            }
                            .el-menu-item.is-active {
                                border-bottom: 2px solid #FCD116;
                            }
                        }
                    }
                    .menu-search {
                        height: 100%;
                        padding: 0 5px;
                        height: 80px;
                        line-height: 80px;
                    }
                    .menu-language {
                        height: 100%;
                        padding: 0 5px;
                        height: 80px;
                        line-height: 80px;
                    }
                }
            }
        }
        .el-main {
            padding: 80px 0 0;
            .main-container {
                .home {
                    .slideshow-home {
                        height: 100vh;
                        .image-cover-header {
                            width: 100%;
                        }
                    }
                }
                .pinjaman-section {
                    margin: 3rem 0;
                    .el-row {
                        margin-bottom: 3rem;
                        .cover-page-section {
                            img {
                                width: 100%;
                                height: 300px;
                                object-fit: cover;
                                object-position: center;
                            }
                        }
                    }
                }
                .simpanan-section {
                    margin: 3rem 0;
                }
                .program-section {
                    margin: 3rem 0;
                }
                .artikel-section {
                    margin: 3rem 0;
                }
                .login-section {
                    margin: 3rem 0;
                }
            }
        }
        .el-footer {
            color: #ffffff;
            text-align: center;
            line-height: 60px;
            padding: 0;
        }
    }
    .dashboard {
        .el-container {
            .el-header {}
            .el-main {}
            .el-footer {}
        }
    }
}

.sc-launcher {
    z-index: 999;
}
.sc-chat-window {
    &.opened {
        z-index: 999;
    }
}

.el-menu--horizontal {
    width: 100%;
    left: 0 !important;
}
.menu-nav-custom-items {
    background-color: #ffffff;
    .el-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem 0;
    }
}

.block-section {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row-margin {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.article-items {
    // margin-bottom: 2rem;
    .el-card__body {
        display: flex;
        flex-direction: column;
    }
    img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .el-button {
        padding: 0;
    }
}

.footer-menu {
    background-color: $bg-secondary;
}
.footer-contact {
    background-color: $bg-primary;
}